In [81]:
scores = list(map(int,input("실기점수를 입력하세요 :").split()))

Max = 0
Min = 100
total = 0

for _ in range(len(scores)):
    total += scores[_]
    if scores[_] > Max:
        Max = scores[_]
    if scores[_] < Min:
        Min = scores[_]

avg = (total-Min-Max)/(len(scores)-2)

print(f'이 학생의 평균 점수는 {avg} 입니다.')

실기점수를 입력하세요 : 70 85 50 98 82

이 학생의 평균 점수는 79.0 입니다.

In [78]:
Scores = list(map(int,input("실기점수를 입력하세요 :").split()))

Max = 0
Min = 100
total = 0

for _ in Scores:
    total += _
    if _ > Max:
        Max = _
    if _ < Min:
        Min = _

total = total - Max - Min
avg = total / (len(Scores)-2)

print(f'\n이 학생의 평균 점수는 {avg} 입니다.')

실기점수를 입력하세요 : 70 50 85 98 82

이 학생의 평균 점수는 79.0 입니다.

In [80]:
Scores = list(map(int,input("실기점수를 입력하세요 :").split()))

#총점 구하기
total = 0 #총점 초기화
for i in Scores:
    total += i

#최고 점수구하기
largest = 0 #최대값 초기화
for i in Scores:
    if i > largest:
        largest = i

#최저 점수구하기
smallest = 100 # 최소값 초기화
for i in Scores:
    if i < smallest:
        smallest = i

#평균 점수구하고 출력하기
avr = (total - largest - smallest) / (len(Scores)-2)
print(f'이 학생의 평균 점수는 {avr} 입니다.')

실기점수를 입력하세요 : 70 50 85 98 82

이 학생의 평균 점수는 79.0 입니다.

In [89]:
scores = [86,72,98,60,45]
grade_counter = [0,0,0,0,0]
for score in scores:
    if 85 <= score <= 100:
        grade_counter[0] += 1
    elif 70 <= score <= 84:
        grade_counter[1] += 1
    elif 55 <= score <= 69:
        grade_counter[2] += 1
    elif 40 <= score <= 54:
        grade_counter[3] += 1
    else:
        grade_counter[4] += 1
print(grade_counter)

[2, 1, 1, 1, 0]

In [90]:
Scores = list(map(int,input("점수를 입력해주세요 :").split()))
grade_counter = [0,0,0,0,0]
for score in Scores:
    if 85 <= score <= 100:
        grade_counter[0] += 1
    elif 70 <= score <= 84:
        grade_counter[1] += 1
    elif 55 <= score <= 69:
        grade_counter[2] += 1
    elif 40 <= score <= 54:
        grade_counter[3] += 1
    else:
        grade_counter[4] += 1
print(grade_counter)

점수를 입력해주세요 : 86 72 98 60 45

[2, 1, 1, 1, 0]

In [94]:
for _ in range(1,101):
    if _ % 15 == 0:
        print("FizzBUzz",end='\t')
    elif _ % 3 == 0:
        print("Fizz",end='\t')
    elif _ % 5 == 0:
        print("Buzz",end='\t')
    else:
        print(_,end='\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBUzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBUzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBUzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBUzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBUzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBUzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [97]:
for i in range(1,101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [142]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul','peter']
count = 0

for name in name_list:
    if "m" in name or "h" in name:
        count +=1
        
print(f'm 또는 h 가 이름에 포함된 사람은 {count} 명 입니다.')

m 또는 h 가 이름에 포함된 사람은 3 명 입니다.

In [140]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul','peter']
count = 0

for name in name_list:
    for i in name:
        if i == "m" or i == "h":
            count +=1
            break #continue VS break !!!
            
print(f'm 또는 h 가 이름에 포함된 사람은 {count} 명 입니다.')

m 또는 h 가 이름에 포함된 사람은 3 명 입니다.

In [139]:
marks = [90,25,67,45,80]

for _ in range(len(list(marks))):
    if marks[_] > 60:
        print(f'{_+1}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [138]:
marks = [90,25,67,45,80]

for _ in range(len(list(marks))):
    if marks[_] <= 60:
        continue
    print(f'{_+1}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [145]:
marks = [90,25,67,45,80]

i = 0

while i < len(marks):
    if marks[i] > 60:
        print(f'{i+1}번 학생 축하합니다. 합격입니다.')
    i+=1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [147]:
marks = [90,25,67,45,80]
number = 0
for mark in marks:
    number += 1
    if mark < 60:
        continue
    print(f'{number}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [150]:
marks = [90,25,67,45,80]
i = 0

while i < len(marks):
    i+=1
    if marks[i-1] < 60:
        continue
    print(f'{i}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [153]:
arr = [1,4,2,3]
left, right = 0, len(arr) - 1
while left < right:
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
print(f'변환된 arr은 {arr} 입니다.')

변환된 arr은 [3, 2, 4, 1] 입니다.

In [161]:
arr = [1,4,2,3]
left, right = 0, len(arr) - 1
while left <= (len(arr) // 2):
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
print(f'변환된 arr은 {arr} 입니다.')

변환된 arr은 [3, 4, 2, 1] 입니다.

In [199]:
for i in range(1,10):
    for _ in range(2,10):
        print(f'{_}x{i}={_*i}',end="\t")
    print()

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [200]:
a = 1
b = 2
while a < 10:
    while b < 10:
        print(f'{b}x{a}={b*a}',end="\t")
        b+=1
    a+=1
    b=2
    print()

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

### 딕셔너리 자료형  
- 비 시퀸스 자료형 따라서 인덱스를 갖지 않는다.  
- 대신 이 자료형은 고유한 키 값을 갖습니다.  
- 이 키는 1대1로 매칭되는 값을 갖습니다.  
- 이를 key-value pair라고 하며 딕셔너리 자료형의 특징입니다.  
### key: value -> key-value pair

In [203]:
dic_var = {"key": "value"}
print(type(dic_var))
print(dic_var)

<class 'dict'>
{'key': 'value'}

In [205]:
dic_var = {"key": "value", "key": "last value"}
print(dic_var)

{'key': 'last value'}

In [206]:
dic_var = {"key": "value",
          1: "value2",
          1.1:"value3",
          True: "value3",
          ("key",1,1.1, True): "value2"}
print(list(map(type, dic_var.keys())))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]

In [2]:
dic_var = {"key": "value",
          1: 1,
          1.1: 1.1,
          True: False,
          ("key",1,1.1, True): ("key",1,1.1, True),
          "list": [1,'가', 1.1, True, (1, '나')],
          "dict": {"key": "value", "key": "value"},
          "set": {"key", "value"}
          }
print(list(map(type, dic_var.values())))

[<class 'str'>, <class 'bool'>, <class 'float'>, <class 'tuple'>, <class 'list'>, <class 'dict'>, <class 'set'>]

In [208]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [209]:
empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [210]:
dict_a = dict(key="value", key2="value2", key3="value3")
print(dict_a)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

In [211]:
dict([("key", "value"), ("key2", "value2")])

{'key': 'value', 'key2': 'value2'}

In [212]:
dict_b = dict(zip(["key", "key2", "key3"], ["value", "value2", "value3"]))
print(dict_b)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

In [213]:
print(zip(["key", "key2", "key3"], ["value", "value2", "value3"]))

<zip object at 0x0000012B46A2DB40>

In [218]:
[_ for _ in zip(["key", "key2", "key3"], ["value", "value2", "value3"])]

[('key', 'value'), ('key2', 'value2'), ('key3', 'value3')]

In [219]:
print(dict_b)
print(dict_b["key"])

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
value

In [220]:
print(dict_b)
dict_b['key'] = "super value"
print(dict_b)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [221]:
print(dict_b)
dict_b['new one'] = "new value"
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}

In [222]:
print(dict_b)
print(dict_b['없는 키'])

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}

KeyError: '없는 키'

In [223]:
print(dict_b)
print('key' in dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
True

In [224]:
print(dict_b)
del dict_b['new one']
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [225]:
print(dict_b)
len(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

3

In [243]:
dict_fruit = {'사과': 1000, '바나나': 700, 
              '오렌지': 1500, '파인애플': 2000}
input_fruit = input("과일 이름을 입력하세요.")
print(f'{fruit}의 가격은 {dict_fruit[input_fruit]}원입니다.')

과일 이름을 입력하세요. 사과

사과의 가격은 1000원입니다.

In [244]:
dict_fruit = dict(zip(["사과", "바나나", "오렌지", "파인애플"], 
                      [1000, 700, 1500, 2000]))
input_fruit = input("과일 이름을 입력하세요.")
print(f'{fruit}의 가격은 {dict_fruit[input_fruit]}원입니다.')

과일 이름을 입력하세요. 사과

사과의 가격은 1000원입니다.

In [296]:
dict_cha = dict(zip(input("이름을 기입해주세요.").split(" "),map(float,input("몸무게를 입력해주세요.").split(" "))))
print(dict_cha)

이름을 기입해주세요. 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

In [293]:
names = input("이름을 기입해주세요.").split(" ")
weights = map(float,input("몸무게를 입력해주세요.").split(" "))
dict_info = dict(zip(names, weights))
print(dict_info)

이름을 기입해주세요. 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

In [298]:
#['뽀로로', '루피', '크롱', '스누피']
names = input("이름을 기입해주세요.").split(" ")
# map --> 20.1 16.2 25.2 5.3
weights = list(map(float,input("몸무게를 입력해주세요.").split(" ")))

dict_mm = {}
# dict_mm = dict()
# Len(names) --> 4
# range(4) --> 0, 1, 2, 3
# i --> i = 0 반복, i = 1 반복, i = 2 반복, i = 3 반복
for i in range(len(names)):
    dict_mm[names[i]] = weights[i]

print(dict_mm)

이름을 기입해주세요. 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.1 16.2 25.2 5.3

{'뽀로로': 20.1, '루피': 16.2, '크롱': 25.2, '스누피': 5.3}

In [13]:
votes = [2,5,3,4,1,5,1,5,5,3]
candidates = ["", "전정국", "김남준", "박지민", "정호석", "김태형"]
counts = [0] * len(candidates)

for vote in votes:
    counts[vote] += 1
    
i = 1
max_count = 0
elected_person = 0 #index용
# 1, 2, 3, 4, 5
while i < len(counts): # Len(counts) => 6
    if max_count < counts[i]:
        max_count = counts[i]
        elected_person = i
    i += 1
print(f'{candidates[elected_person]} 후보가 총  {max_count}표를 받아 당선되었습니다.')

김태형 후보가 총  4표를 받아 당선되었습니다.

In [14]:
votes = [2,5,3,4,1,5,1,5,5,3]
candidates = ["", "전정국", "김남준", "박지민", "정호석", "김태형"]
counts = [0] * len(candidates)

for vote in votes:
    counts[vote] += 1
    
i = 1
max_count = 0
elected_person = 0 #index용
# 1, 2, 3, 4, 5
max_count = max(counts)
elected_person = counts.index(max_count)

print(f'{candidates[elected_person]} 후보가 총  {max_count}표를 받아 당선되었습니다.')

김태형 후보가 총  4표를 받아 당선되었습니다.

### List

In [299]:
list_a = [48, 48, 33, 95]
print(type(list_a))
print(list_a)

<class 'list'>
[48, 48, 33, 95]

In [7]:
empty_list = []
print(type(empty_list))
print(empty_list)
empty_list = [1,2,3,4,5]
print(empty_list)
print(type(empty_list))

<class 'list'>
[]
[1, 2, 3, 4, 5]
<class 'list'>

In [302]:
list_b = list(map(int,input("숫자를 띄어쓰기로 구분하여 여럿 입력해보세요.").split()))
print(type(list_b))
print(list_b)

숫자를 띄어쓰기로 구분하여 여럿 입력해보세요. 1 2 2 2 2 2 2 1

<class 'list'>
[1, 2, 2, 2, 2, 2, 2, 1]

### 리스트 컴프리헨션  
1. 반복가능한 객체로부터 값을 하나 꺼내와서 변수에 담습니다.
2. 요소를 담은 변수를 활용해서 표현식을 실행합니다.
3. 표현식 결과 값을 리스트 요소에 넣습닏
4. 반복가능한 객체로부터 값이 없을 때까지 1~3 과정을 반복합니다.
```python  
list_variable = [expression for 변수 in iterable]
```

In [304]:
# range --> 0, 1, 2, .. 9
# _ --> _ = 0, ... _ = 9
list_a = [_**2 for _ in range(1,10)]
print(list_a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [310]:
[print("Hello world") for _ in range(10)]

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

[None, None, None, None, None, None, None, None, None, None]

In [311]:
list_c = []
for _ in range(1,10):
    list_c.append(_**2)
print(list_c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [314]:
# list comprehention
list_d = [_**2 for _ in range(1,10)]
print(list_d)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [319]:
prac_result = [_**2 for _ in range(1,10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
prac_result = [_*_ for _ in range(1,10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
prac_result2 = [i for i in range(1,10,2)]
print(prac_result2)

[1, 3, 5, 7, 9]

In [64]:
prac_result3 = [ _ for _ in 'abcdefghijklmnopqrstuvwxyz']
print(prac_result3)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [87]:
prac_result4 = [str(i) for i in range(2,11)]+ [i for i in 'JQKA']
print(prac_result4)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [86]:
prac_result4 = [str(i) for i in range(2,11)]
prac_result4.extend([i for i in 'JQKA'])
print(prac_result4)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [90]:
prac_result5 = [prac_result4 for _ in range(4)]
print(prac_result5)

[['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [91]:
prac_result4[0] = 'two'
print(prac_result4)

['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [96]:
print(prac_result5)

[['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [107]:
print("prac_result4의 id:",id(prac_result4))

for i, v in enumerate(prac_result5):
    print("prac_result5[",i,"] : ", id(v), sep="")

prac_result4의 id: 2514298442304
prac_result5[0] : 2514298442304
prac_result5[1] : 2514298442304
prac_result5[2] : 2514298442304
prac_result5[3] : 2514298442304

In [108]:
prac_result6 = [prac_result4[:] for _ in range(4)]
print("prac_result4의 id:",id(prac_result4))
for i, v in enumerate(prac_result6):
    print("prac_result6[",i,"] : ", id(v), sep="")

prac_result4의 id: 2514298442304
prac_result6[0] : 2514298471680
prac_result6[1] : 2514298445504
prac_result6[2] : 2514298443648
prac_result6[3] : 2514298470720

In [123]:
old_list = list(range(10))
new_list = old_list[:]
print(id(old_list))
print(id(new_list))
print(old_list is new_list) # 같은 것인지
print(old_list == new_list) # 값이 같은지

2514330844224
2514298521792
False
True

In [119]:
list_sample = [_ for _ in range(1,46)]
print(id(list_sample))

2514298444992

In [120]:
print(id(list_sample[:]))

2514298472832

In [122]:
str_sample = "This is str"
str2 = str_sample[:]
print(id(str_sample))
print(id(str2))

2514298520112
2514298520112

In [124]:
old_tuple = tuple(range(10))
new_tuple = old_tuple[:]
print(id(old_tuple))
print(id(new_tuple))
print(old_tuple is new_tuple) # 같은 것인지
print(old_tuple == new_tuple) # 값이 같은지

2514342563520
2514342563520
True
True

In [127]:
str_a = "hello"
str_b = "hello"
print(str_a is str_b)
print(str_a == str_b)

True
True

In [128]:
list_d = list(i**3 for i in range(10))
print(list_d)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [133]:
# 대괄호가 더 빠르다
import time

curr = time.time()

for _ in range(10000):
    [i for i in range(1000)]
last = time.time()
print(last - curr)

0.2117595672607422

In [132]:
import time

curr = time.time()

for _ in range(10000):
    list(i for i in range(1000))
last = time.time()
print(last - curr)

0.3361189365386963

In [136]:
list_e = [ i for i in range(10)]
print(list_e)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
list_f = list_e

In [138]:
print(list_f)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
print(id(list_e))
print(id(list_f))

2514331250432
2514331250432

In [142]:
print(list_e is list_f)
print(list_e == list_f)

True
True

In [146]:
list_e[0] = 999 
print(list_e)
print(list_f)

[999, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[999, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [217]:
_ = 0
num = 0
num = int(input("순환할 숫자를 입력하세요:"))

while _ < num:
    __ = 0
    while __ < num:
        print((_+__)%num +1 ,end=" ")
        __+=1
    print()
    _+=1

순환할 숫자를 입력하세요: 10

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [219]:
num = int(input("순환할 숫자를 입력하세요:"))
for _ in range(num):
    for __ in range(num):
        print((_+__)%num +1 ,end =" ")
    print()

순환할 숫자를 입력하세요: 10

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [220]:
num = int(input("순활할 숫자를 입력하세요:"))
for i in range(num):
    for j in range(1, num + 1):
        if j + i >= 1:
            result = j + i
            if result > num:
                result = result - num
            print(result, end = " ")
    print()

순활할 숫자를 입력하세요: 10

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [221]:
num = int(input("순환할 숫자를 입력하세요:"))
# i => 1 ~ 입력한 숫자까지
for i in range(1, num + 1):
    for j in range(i, num + i):
        if j % num == 0:
            print(num, end=" ")
        else:
            print(j % num, end=" ")
    print()

순환할 숫자를 입력하세요: 10

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [210]:
num = int(input("순환할 숫자를 입력하세요:"))
a = [i for i in range(1, num+1)]
for j in range(len(a)):
    j = 0
    for i in a:
        print(i, end=" ")
    print()
    a.append(a[j])
    a.remove(a[j])

순환할 숫자를 입력하세요: 10

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [297]:
cir_num = int(input())
cir_list = [i for i in range(1, cir_num+1)]
for i in range(cir_num):
    for j in range(cir_num):
        print(cir_list[j], end=" ")
    print()
    cir_list.append(cir_list[0])
    cir_list.remove(cir_list[0])

 10

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [242]:
list_g = list(range(10))
list_h = list_g.copy()
print(id(list_g))
print(id(list_h))
print(list_g is list_h)
list_g[0] = 999
print(list_g)
print(list_h)

2514345083456
2514342817664
False
[999, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [241]:
list_i = [[0]] * 3
print(list_i)
list_i[0][0] = 999
print(list_i)
print(list_i[0][0] is list_i[1][0])
print(list_i[0][0] is list_i[2][0])
print(list_i[1][0] is list_i[2][0])

[[0], [0], [0]]
[[999], [999], [999]]
True
True
True

In [240]:
list_j = [[1,2],[3,4]]
list_k = list_j[:]
print(list_k[0] is list_j[0])
print(list_j is list_k)
list_j[0][1] = 2 ** 2
print(list_k)
print(list_j)
print(list_k[1] is list_j[1])

True
False
[[1, 4], [3, 4]]
[[1, 4], [3, 4]]
True

In [245]:
list_l = [[5,6],[7,8]]
list_m = list_l.copy()
print(list_l[0] is list_m[0])
print(list_l is list_m)
list_l[0][1] = 999
print(list_l)
print(list_m)

True
False
[[5, 999], [7, 8]]
[[5, 999], [7, 8]]

In [251]:
import copy
list_n = [[9,10],[11,12]]
# deepccopy는 반환값으로 완전히 새로운 객체를 반환해요.
list_o = copy.deepcopy(list_n)
print(list_n is list_o)
print(list_n[0] is list_o[0])

False
False

In [254]:
print(list_o)
print(list_n)

[[9, 10], [11, 12]]
[[9, 10], [11, 12]]

In [258]:
list_n[1][0] = 22
print(list_n)
print(list_o)

[[9, 10], [22, 12]]
[[9, 10], [11, 12]]

```python  
list_variable = [expression for 변수 in iterable if 조건식]
```

In [260]:
list_p = [i for i in range(10) if i % 3 ==0]
print(list_p)

[0, 3, 6, 9]

```python  
[expression for 변수 in iterable if 조건식
            for 변수 in iterable if 조건식
            for 변수 in iterable if 조건식
            for 변수 in iterable if 조건식]
```

In [268]:
easy_list = [[1,2,3,4,5,],[3,4]]
for item in easy_list:
    for i in item:
        print(i)

1
2
3
4
5
3
4

In [269]:
easy_list = [[1,2,3,4,5,],[3,4]]
i = 0 # easy_list 인덱스용

while i < len(easy_list):
    j = 0  # easy_list[0], easy_list[1] 인덱스용
    while j < len(easy_list[i]):
        print(easy_list[i][j])
        j += 1
    i +=1

1
2
3
4
5
3
4

In [296]:
e = [1,2,3,4,5,3,5,6]
print(e)
e.append(e[0])
print(e)
e.remove(e[0])
print(e)
e.sort()
print(e)
e.reverse()
print(e)

[1, 2, 3, 4, 5, 3, 5, 6]
[1, 2, 3, 4, 5, 3, 5, 6, 1]
[2, 3, 4, 5, 3, 5, 6, 1]
[1, 2, 3, 3, 4, 5, 5, 6]
[6, 5, 5, 4, 3, 3, 2, 1]