### random 라이브러리
- random.randint(시작 정수, 끝정수)

In [5]:
import random
random_list = [random.randint(1,2) for _ in range(10)]
print(random_list)

[1, 1, 2, 2, 1, 1, 1, 2, 1, 2]

In [59]:
import random

count = int(input("로또 번호 몇 개 드릴까요?"))

for i  in range(count):
    lotto_numbers = []
    while len(lotto_numbers) < 6:
        lotto_number = random.randint(1,45)
        if lotto_number not in lotto_numbers:
            lotto_numbers.append(lotto_number)
    lotto_numbers.sort()
    print(lotto_numbers)

로또 번호 몇 개 드릴까요? 7

[5, 16, 18, 27, 32, 34]
[3, 15, 31, 33, 37, 40]
[14, 21, 22, 29, 30, 45]
[3, 11, 32, 35, 36, 39]
[7, 15, 17, 34, 36, 40]
[12, 33, 37, 38, 42, 45]
[5, 17, 21, 31, 33, 34]

In [68]:
import random

count = int(input("로또 번호 몇 개 드릴까요?"))

for i  in range(count):
    lotto = [j for j in range(1,45)]
    lotto_numbers = []
    for _ in range(6):
        lotto_number = lotto[random.randint(1, len(lotto) - 1)]
        lotto_numbers.append(lotto_number)
        lotto.remove(lotto_number)
        lotto_numbers.sort()
    print(lotto_numbers)

로또 번호 몇 개 드릴까요? 7

[3, 13, 15, 30, 32, 42]
[5, 7, 14, 30, 38, 41]
[2, 5, 20, 28, 35, 37]
[4, 7, 9, 12, 18, 29]
[13, 14, 16, 23, 36, 41]
[8, 27, 30, 31, 34, 38]
[6, 9, 17, 18, 29, 44]

In [87]:
import random

times = int(input("로또 번호 몇 개 드릴까요?"))

for i in range(times): # i 개수만큼 반복
    lotto_list = [random.randint(1,45) for k in range(6)] # k = 로또 번호가 6개니까 반복 변수로
    for j in range(len(lotto_list)): #로또번호 리스트안의 개수만큼 반복
        if lotto_list.count(lotto_list[j]) > 1: #중복되는 값이 1초과라면
            for i in range(lotto_list.count(lotto_list[j])-1): #중복되는 값만큼 반복 중복되는 값이 1개는 남아야 하니까 -1
                lotto_list.remove(lotto_list[j]) #중복되는 값을 제거
                lotto_list.append(random.randint(1,45)) #새로운 랜덤값을 추가
                break
        else:
            lotto_list.sort()
    
    print(lotto_list)

로또 번호 몇 개 드릴까요? 5

[8, 9, 17, 21, 31, 36]
[11, 15, 19, 36, 37, 41]
[5, 6, 14, 18, 36, 45]
[6, 13, 15, 29, 33, 41]
[3, 11, 15, 24, 26, 39]

### Set 자료형  
- 딕셔너리처럼 중괄호를 사용해서 생성합니다.
- 중복값을 갖지 않습니다
```python
set_variable = {키1,키2,키3,... }  
```  
### set comrehention  
```python
set_variable = {expression for 변수 in iterable if 조건식}

```

In [2]:
print(type({}))
print(type({1}))

<class 'dict'>
<class 'set'>

In [3]:
set_variable = set()
print(set_variable, type(set_variable))
# 정수 1 값을 set_variable에 5차례 넣습니다.
[set_variable.add(1) for _ in range(5)]

# 출력하면 중복된 값 없이 출력된다.
print(set_variable)

set() <class 'set'>
{1}

In [4]:
set_variable = {1,2,3,4,5,6,7,8,9}
print(set_variable)
set_variable.remove(9)
print(set_variable)
set_variable.remove('없는 값')

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8}

KeyError: '없는 값'

In [5]:
print(set_variable)
set_variable.discard(8)
print(set_variable)
set_variable.discard('없는 값')

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

In [8]:
set_variable = {_ for _ in range(20) if _ % 3 == 0}
print(set_variable)
[set_variable.pop() for _ in range(len(set_variable))]

{0, 3, 6, 9, 12, 15, 18}

[0, 3, 6, 9, 12, 15, 18]

In [9]:
print(set_variable, len(set_variable))
set_variable.pop()

set() 0

KeyError: 'pop from an empty set'

In [10]:
set_variable = {_ for _ in range(20) if _ % 3 == 0}
print(set_variable)
set_variable.clear()
print(set_variable)

{0, 3, 6, 9, 12, 15, 18}
set()

In [119]:
set_variable = {_ for _ in range(20) if _ % 3 == 0}
print(set_variable, "개수는", len(set_variable), "입니다.")

{0, 3, 6, 9, 12, 15, 18} 개수는 7 입니다.

In [212]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
print("set.union(A, B):", set.union(A, B))
print("A | B:", A | B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.union(A, B): {1, 2, 3, 4, 5}
A | B: {1, 2, 3, 4, 5}

In [11]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
print("set.intersection(A, B):", set.intersection(A, B))
print("A - B:", A & B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.intersection(A, B): {2, 4}
A - B: {2, 4}

In [123]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
print("set.difference(A, B):", set.difference(A, B))
print("A - B:", A - B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.difference(A, B): {1, 3}
A - B: {1, 3}

In [127]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
print("set.symmetric_difference(A, B):", set.symmetric_difference(A, B))
print("A ^ B:", A ^ B)

A: {1, 2, 3, 4}
B {2, 4, 5}
set.symmetric_difference(A, B): {1, 3, 5}
A ^ B: {1, 3, 5}

In [128]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
A.update(B) # A /= B 와 같습니다.
print("A.update(B):", A)

A: {1, 2, 3, 4}
B {2, 4, 5}
A.update(B): {1, 2, 3, 4, 5}

In [12]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
A.intersection_update(B) # A &= B 와 같습니다.
print("A.update(B):", A)

A: {1, 2, 3, 4}
B {2, 4, 5}
A.update(B): {2, 4}

In [14]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
A.difference_update(B) # A -= B 와 같습니다.
print("A.update(B):", A)

A: {1, 2, 3, 4}
B {2, 4, 5}
A.update(B): {1, 3}

In [16]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB", B)
A.symmetric_difference_update(B) # A ^= B 와 같습니다.
print("A.update(B):", A)

A: {1, 2, 3, 4}
B {2, 4, 5}
A.update(B): {1, 3, 5}

In [17]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("B.issubset(A):", A.issubset(B))

A: {0, 1, 2}
B: {0, 1, 2}
B.issubset(A): True

In [19]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,2)}
print("A:", A, "\nB:", B)
print("B.issubset(A):", B.issubset(A))

A: {0, 1, 2}
B: {0, 1}
B.issubset(A): True

In [22]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("B.issupersubset(A):", A.issuperset(B))

A: {0, 1, 2}
B: {0, 1, 2}
B.issupersubset(A): True

In [23]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,2)}
print("A:", A, "\nB:", B)
print("B.issupersubset(A):", A.issuperset(B))

A: {0, 1, 2}
B: {0, 1}
B.issupersubset(A): True

In [137]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("A > B", A > B)
print("A < B", A < B)

A: {0, 1, 2}
B: {0, 1, 2}
A > B False
A < B False

In [138]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,2)}
print("A:", A, "\nB:", B)
print("A > B", A > B)
print("A < B", A < B)

A: {0, 1, 2}
B: {0, 1}
A > B True
A < B False

In [24]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("A == B :", A == B)

A: {0, 1, 2}
B: {0, 1, 2}
A == B : True

In [143]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(3,6)}
print("A:", A, "\nB:", B)
print("A.isdisjoint(B):", A.isdisjoint(B))

A: {0, 1, 2}
B: {3, 4, 5}
A.isdisjoint(B): True

In [187]:
import random
count = int(input("로또 번호 몇 개 드릴까요?"))
lotto = set()
for i  in range(count):
    lotto = {random.randint(1,45) for k in range(6)}
    while len(lotto) != 6:
        lotto = {random.randint(1,45) for k in range(6)}
    result = list(lotto)
    result.sort()
    print(result)

로또 번호 몇 개 드릴까요? 7

[7, 16, 19, 24, 26, 35]
[3, 11, 18, 22, 24, 45]
[14, 20, 35, 36, 37, 39]
[6, 14, 25, 32, 33, 42]
[2, 8, 18, 23, 33, 42]
[2, 5, 7, 12, 13, 23]
[17, 18, 26, 34, 37, 40]

In [197]:
list_sample = [1,2,2,3,3,3,4,4,4,4]
list_sample = set([1,2,2,3,3,3,4,4,4,4])
print(list_sample)

{1, 2, 3, 4}

In [211]:
set_5 = {_ for _ in range(1,101) if _ % 3 == 0}
set_3 = {_ for _ in range(1,101) if _ % 5 == 0}
result_set = set.intersection(set_3, set_5)

print(result_set)

{75, 45, 15, 90, 60, 30}

In [285]:
role_admin = ("회계 관리", "인사관리", "구매관리", "시스템 관리")
role_hr = ("인사관리", "개인정보 조회", "회계 관리", "근태관리")
role_user = ("개인정보 조회", "근태관리")

menus = list(set(role_user+role_hr+role_admin))
menus.sort()
end_char = ", "
for menu in menus:
    if menus[-1] == menu:
        end_char = ""
    print(menu, end=end_char)

개인정보 조회, 구매관리, 근태관리, 시스템 관리, 인사관리, 회계 관리

In [338]:
def isPrime(num):
    primes = [False, False] + [True]*(num-1)
    for i in range(2, num+1):
        if primes[i]:
            for _ in range(i * 2, num+1, i):
                primes[_] = False
    return primes[num]
get = int(input("찾는 범위: "))
lst = [_ for _ in range(2, get) if isPrime(_)]
count = 0
for _ in lst:
    count+=1
    print(_,end=" ")
    if count%7 == 0:
        print()

찾는 범위:  100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [339]:
num = print("2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.")
inData = int(input("찾는 범위를 입력하세요 :"))
i = 2
line = 0
while i <= inData:
    j = 2
    while j <= i:
        if i % j == 0:
            break
        j += 1
    if i == j:
        print(i, end=" ")
        line += 1
        if line == 7:
            line = 0
            print()
    i += 1

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.

찾는 범위를 입력하세요 : 100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [325]:
def function_name(message):
    x = input(message)
    print(x)
    print(x)

In [324]:
function_name("값을 입력해주세요")

값을 입력해주세요 1

1

In [326]:
# 함수 정의절
def function_name(positional, positional2, *args, keyword = 1, **kargs):
    pass # body

In [329]:
def isPrime(num):
    pass

In [354]:
def get_grade(score):
    """
    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"

In [351]:
get_grade()

'A'

In [344]:
print(get_grade.__doc__)

    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.

In [335]:
result = get_grade(100) # "A"
print(result)

A

In [341]:
import random
# 20명의 점수를 입력했다.
scores = [random.randint(1,100) for _ in range(20)]
print(scores)

[70, 81, 85, 14, 11, 73, 80, 50, 19, 28, 53, 25, 6, 57, 2, 90, 21, 28, 75, 96]

In [342]:
grades = list(map(get_grade, scores))
print(grades)

['B', 'B', 'A', 'F', 'F', 'B', 'B', 'D', 'F', 'F', 'D', 'F', 'F', 'C', 'F', 'A', 'F', 'F', 'B', 'A']

In [391]:
# 함수 정의절
# 인자(=매개변수, parameter)
def get_grade(score, student_number, name="홍길동"):
    """
    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    print(f'{student_number}, {name}의 성적을 확인합니다.')
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"

In [394]:
# 함수 호출
# 인수(argument)
get_grade(score = 100, name="윤규헌", student_number="981228_1XXXXXX")
          # positional_argument / keyword_argument

981228_1XXXXXX, 윤규헌의 성적을 확인합니다.

'A'

In [436]:
# 함수 정의절
# 인자(=매개변수, parameter) - non-default, default 종류
# positional-only : /문자를 기준으로 왼편에 온다.
def add_number(number2, number1 = 3, /):
    """
    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 + number2

In [437]:
print(add_number.__doc__)

    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.

In [443]:
# 함수 호출
# 인수(argument) - positional argument, key word argument
result = add_number(2) #소괄호--> call

In [439]:
print(result)

5

In [447]:
# 함수 정의절
# 인자(=매개변수, parameter) - non-default, default 종류
# keyword-only : *문자를 기준으로 오른편에 온다.
def minus_number(*, number1, number2=3):
    """
    숫자 number1과 숫자 number2를 전달 받아 뺀한 결과를 반환합니다.
    """
    return number1 - number2

In [448]:
# 인수(argument) - positional argument, key word argument
minus_number(number1 = 20, number2 = 5)

15

In [453]:
# 함수 정의절
# 인자(=매개변수, parameter) - non-default, default 종류
# positional-only : /문자를 기준으로 왼편에 온다.
# keyword-only : *문자를 기준으로 오른편에 온다.
def multi_number(number1, /, *, number2=3):
    """
    숫자 number1과 숫자 number2를 전달 받아 곱한 결과를 반환합니다.
    """
    return number1 * number2

In [454]:
multi_number(3, number2 = 10)

30

In [456]:
def string_line(str_value, /, str_len=70, *, sep="#"):
    """
    str_value는 가운데 오는 텍스트입니다.
    str_len은 텍스트의 설정할 길이입니다.
    sep는 구분선을 그을때 쓰는 문자입니다.
    """
    print(str_value.center(str_len,sep))

In [457]:
string_line("구분", 50, sep="*")

************************구분************************

In [460]:
len('************************구분************************')

50

In [462]:
string_line("절취선", str_len=100, sep="-")

------------------------------------------------절취선-------------------------------------------------

In [463]:
len('------------------------------------------------절취선-------------------------------------------------')

100

In [464]:
print("1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", )

1 1 1 1 1 1 1 1 1 1 1 1 1 1

In [474]:
# *args: var positional 가변위치
def test_func(a,b,c, *args):
    print(f'a: {a} b: {b} c: {c}')
    print(type(args))
    print(args)

In [475]:
test_func("a 위치입니다", "b 위치입니다", "c 위치입니다", "여기는", "어디일까요", "몇개", "더")

a: a 위치입니다 b: b 위치입니다 c: c 위치입니다
<class 'tuple'>
('여기는', '어디일까요', '몇개', '더')

In [477]:
# **kargs: var keyword 가변 키워드
def test_func2(a="a",b="b", **kargs):
    print(a,b)
    print(type(kargs))
    print(kargs)

In [478]:
test_func2(a="ab", b="bc", key="value", key2="value2")

ab bc
<class 'dict'>
{'key': 'value', 'key2': 'value2'}

### 함수 정의

In [490]:
def greeting(name, age):
    print(f"{name} 씨 안녕하세요. 약 {age * 365.25} 일 되었습니다.")

In [491]:
greeting("파이썬", 32)

파이썬 씨 안녕하세요. 약 11688.0 일 되었습니다.

In [492]:
greeting(age = 32, name="파이썬")

파이썬 씨 안녕하세요. 약 11688.0 일 되었습니다.

In [495]:
def greeting(name, age=32):
    print(f"{name} 씨 안녕하세요. 약 {age * 365.25} 일 되었습니다.")

In [496]:
def posonly(posonly, /):
    print(posonly)

In [498]:
posonly(posonly="키워드인수로 전달하면 오류 발생!")

TypeError: posonly() got some positional-only arguments passed as keyword arguments: 'posonly'

In [499]:
def keyonly(*, keyonly="default"):
    print(keyonly)

In [500]:
keyonly(keyonly="키워드로만 입력해야 합니다.")

키워드로만 입력해야 합니다.

In [501]:
keyonly("키워드로만 입력해야 합니다.")

TypeError: keyonly() takes 0 positional arguments but 1 was given

In [502]:
def var_positional(*args):
    print(type(args))
    return sum([_ for _ in args])

In [505]:
print(var_positional())

<class 'tuple'>
0

In [527]:
def var_keyword(**kargs):
    print(type(kargs))
    return kargs

In [528]:
print(var_keyword())

<class 'dict'>
{}

In [529]:
def plus_ten(num):
    return (num+10)

In [530]:
plus_ten(70)

80