#### 설정

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from pathlib import Path

In [11]:
import matplotlib.font_manager as font_manager
import matplotlib as mpl
# Add every font at the specified location
font_dir = ['C:/python/fonts']
for font in font_manager.findSystemFonts(fontpaths=font_dir):
    print(mpl.font_manager.FontProperties(fname=font).get_name())
    font_manager.fontManager.addfont(font)
# Set font family globally
mpl.rcParams['font.family'] = 'Nanum Pen'
print(mpl.rcParams['font.family'])
# 유니코드에서 음수 부호설정
mpl.rc('axes', unicode_minus=False)

Nanum Pen
NanumGothic
['Nanum Pen']

In [12]:
# 그래프 출력이 안될 시
%matplotlib inline

## Stack Overflow Annual Developer Survey

In [13]:
survey_raw_df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId")
survey_raw_df.head(2)

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN

In [14]:
schema_raw = pd.read_csv("data/survey_results_schema.csv", index_col="qname")["question"]
schema_raw

qname
S0             <div><span style="font-size:19px;"><strong>Hel...
MetaInfo                                       Browser Meta Info
S1             <span style="font-size:22px; font-family: aria...
MainBranch     Which of the following options best describes ...
Employment     Which of the following best describes your cur...
                                     ...
Frequency_2    Interacting with people outside of your immedi...
Frequency_3    Encountering knowledge silos (where one indivi...
TrueFalse_1    Are you involved in supporting new hires durin...
TrueFalse_2    Do you use learning resources provided by your...
TrueFalse_3    Does your employer give you time to learn new ...
Name: question, Length: 79, dtype: object

In [15]:
survey_raw_df.columns

Index(['MainBranch', 'Employment', 'RemoteWork', 'CodingActivities', 'EdLevel',
       'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'Country', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith',
       'OpSysProfessional use', 'OpSysPersonal use', 'VersionControlSystem',
       'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [16]:
schema_raw.index

Index(['S0', 'MetaInfo', 'S1', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'S2', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'S3', 'Language', 'Database', 'Platform',
       'Webframe', 'MiscTech', 'ToolsTech', 'NEWCollabTools', 'OpSys',
       'VersionControlSystem', 'VCInteraction', 'VCHosting',
       'OfficeStackAsync', 'OfficeStackSync', 'Blockchain', 'S4', 'NEWSOSites',
       'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm', 'S5', 'Age',
       'Gender', 'Trans', 'Sexuality', 'Ethnicity', 'Accessibility',
       'MentalHealth', 'S6', 'TBranch', 'ICorPM', 'WorkExp', 'Knowledge',
       'Frequency', 'TimeSearching', 'TimeAnswering', 'Onboarding',
       'ProfessionalTech', 'SOTeamsUsage', 'TrueFalse', 'S7', 'SurveyLength',
       'SurveyEase', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3',
       'Knowledge_4', 'Knowledge_5', 'Knowledge_6', 'Knowledge_7',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TrueFalse_1',
       'TrueFalse_2', 'TrueFalse_3'],
      dtype='object', name='qname')

In [17]:
schema_raw["CompTotal"]

'What is your current total compensation (salary, bonuses, and perks, before taxes and deductions)? Please enter a whole number in the box below, without any punctuation.  If you are paid hourly, please estimate an equivalent weekly, monthly, or yearly salary. If you prefer not to answer, please leave the box empty.'

In [18]:
schema_raw["CompFreq"]

'Is that compensation weekly, monthly, or yearly?'

In [19]:
survey_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73268 entries, 1 to 73268
Data columns (total 78 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MainBranch                      73268 non-null  object
 1   Employment                      71709 non-null  object
 2   RemoteWork                      58958 non-null  object
 3   CodingActivities                58899 non-null  object
 4   EdLevel                         71571 non-null  object
 5   LearnCode                       71580 non-null  object
 6   LearnCodeOnline                 50685 non-null  object
 7   LearnCodeCoursesCert            29389 non-null  object
 8   YearsCode                       71331 non-null  object
 9   YearsCodePro                    51833 non-null  object
 10  DevType                         61302 non-null  object
 11  OrgSize                         51039 non-null  object
 12  PurchaseInfluence               50969 non-null  object
 13  BuyNewTool                      67963 non-null  object
 14  Country                         71771 non-null  object
 15  Currency                        51264 non-null  object
 16  CompTotal                       38422 non-null  float64
 17  CompFreq                        44425 non-null  object
 18  LanguageHaveWorkedWith          70975 non-null  object
 19  LanguageWantToWorkWith          67027 non-null  object
 20  DatabaseHaveWorkedWith          60121 non-null  object
 21  DatabaseWantToWorkWith          51014 non-null  object
 22  PlatformHaveWorkedWith          49924 non-null  object
 23  PlatformWantToWorkWith          40415 non-null  object
 24  WebframeHaveWorkedWith          53544 non-null  object
 25  WebframeWantToWorkWith          46122 non-null  object
 26  MiscTechHaveWorkedWith          44992 non-null  object
 27  MiscTechWantToWorkWith          36810 non-null  object
 28  ToolsTechHaveWorkedWith         54171 non-null  object
 29  ToolsTechWantToWorkWith         46566 non-null  object
 30  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 31  NEWCollabToolsWantToWorkWith    64108 non-null  object
 32  OpSysProfessional use           65503 non-null  object
 33  OpSysPersonal use               70963 non-null  object
 34  VersionControlSystem            71379 non-null  object
 35  VCInteraction                   68156 non-null  object
 36  VCHostingPersonal use           0 non-null      float64
 37  VCHostingProfessional use       0 non-null      float64
 38  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 39  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 40  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 41  OfficeStackSyncWantToWorkWith   47688 non-null  object
 42  Blockchain                      71071 non-null  object
 43  NEWSOSites                      71365 non-null  object
 44  SOVisitFreq                     70961 non-null  object
 45  SOAccount                       71572 non-null  object
 46  SOPartFreq                      58229 non-null  object
 47  SOComm                          71408 non-null  object
 48  Age                             70946 non-null  object
 49  Gender                          70853 non-null  object
 50  Trans                           70315 non-null  object
 51  Sexuality                       66565 non-null  object
 52  Ethnicity                       69474 non-null  object
 53  Accessibility                   67244 non-null  object
 54  MentalHealth                    66447 non-null  object
 55  TBranch                         52670 non-null  object
 56  ICorPM                          36283 non-null  object
 57  WorkExp                         36769 non-null  float64
 58  Knowledge_1                     35804 non-null  object
 59  Knowledge_2                     34973 non-null  object
 60  Knowledge_3                     35133 non-null  object
 61  Knowledge_4                     35097 non-null  object
 62  Knowledge_5                     35014 non-null  object
 63  Knowledge_6                     34991 non-null  object
 64  Knowledge_7                     34977 non-null  object
 65  Frequency_1                     35371 non-null  object
 66  Frequency_2                     35344 non-null  object
 67  Frequency_3                     34515 non-null  object
 68  TimeSearching                   36198 non-null  object
 69  TimeAnswering                   36022 non-null  object
 70  Onboarding                      35679 non-null  object
 71  ProfessionalTech                34906 non-null  object
 72  TrueFalse_1                     35819 non-null  object
 73  TrueFalse_2                     35715 non-null  object
 74  TrueFalse_3                     35749 non-null  object
 75  SurveyLength                    70444 non-null  object
 76  SurveyEase                      70508 non-null  object
 77  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), object(73)
memory usage: 44.2+ MB

In [20]:
pd.set_option('display.max_columns', 78)
pd.set_option('display.max_rows', 78)

In [21]:
selected_columns = [
# 인구 통계
'Country',
'Age',
'Gender',
'EdLevel',
# 프로그래밍 경험
'YearsCode',
'YearsCodePro',
'LanguageHaveWorkedWith',
'LanguageWantToWorkWith',
'LearnCodeCoursesCert',
'ProfessionalTech',
'SOAccount',
# 고용 관련 정보
'Employment',
'DevType',
'WorkExp',
]

In [22]:
survey_df = survey_raw_df[selected_columns].copy()
survey_df

,Country,Age,Gender,EdLevel,YearsCode,YearsCodePro,LanguageHaveWorkedWith,LanguageWantToWorkWith,LearnCodeCoursesCert,ProfessionalTech,SOAccount,Employment,DevType,WorkExp
ResponseId,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Canada,NaN,NaN,NaN,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,Yes,"Employed, full-time",NaN,NaN
3,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,5,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,NaN,NaN,Yes,"Employed, full-time",Data scientist or machine learning specialist;...,NaN
4,Israel,35-44 years old,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,NaN,NaN,Yes,"Employed, full-time","Developer, full-stack",NaN
5,United States of America,25-34 years old,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,3,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,NaN,NaN,Yes,"Employed, full-time","Developer, front-end;Developer, full-stack;Dev...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,Nigeria,25-34 years old,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,5,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Udemy,DevOps function;Microservices;Developer portal...,Yes,"Employed, full-time","Developer, back-end",5.0
73265,United States of America,25-34 years old,Man,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,5,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Coursera;Udemy;Udacity,None of these,Not sure/can't remember,"Employed, full-time",Data scientist or machine learning specialist,6.0
73266,United States of America,55-64 years old,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",42,33,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,Udemy;Codecademy;Pluralsight;edX,None of these,Yes,"Employed, full-time","Developer, full-stack;Developer, desktop or en...",42.0
73267,United Kingdom of Great Britain and Northern I...,55-64 years old,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",50,31,C#;Delphi;VBA,Delphi,NaN,NaN,Yes,"Employed, full-time","Developer, front-end;Developer, desktop or ent...",NaN
73268,Canada,25-34 years old,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",16,5,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Udemy;Pluralsight,NaN,Yes,"Independent contractor, freelancer, or self-em...","Developer, front-end;Engineer, data;Engineer, ...",NaN

In [23]:
print(schema_raw["YearsCode"])

Including any education, how many years have you been coding in total?

In [24]:
survey_df["YearsCode"].value_counts()

10                    5217
5                     5193
6                     4651
4                     4480
7                     4237
8                     4227
3                     4122
2                     3351
12                    2995
15                    2962
20                    2659
9                     2581
11                    1819
14                    1811
13                    1624
25                    1582
1                     1566
Less than 1 year      1413
16                    1406
30                    1330
22                    1176
18                    1150
17                    1080
40                     777
24                     752
35                     742
23                     644
19                     563
26                     489
27                     485
21                     483
28                     425
32                     371
38                     288
37                     277
34                     241
36                     236
33                     229
42                     216
29                     208
More than 50 years     172
31                     170
45                     167
39                     159
41                     143
43                     115
44                     104
50                      68
46                      57
47                      42
48                      41
49                      35
Name: YearsCode, dtype: int64

## 연습문제

### 작업에 들어가기 이전에 해당 column(Series)이 NaN 값을 얼마나 갖는지 확인하기 위한 함수를 만들어 봅시다.
- series를 인자로 갖는 count_nan 함수를 만듭니다.
- 이 함수는 인자로 전달된 series의 NaN 개수를 반환해줍니다.

In [25]:
def count_nan(x):
    return x.isna().sum()

In [26]:
count_nan(survey_df["YearsCode"])

1937

In [31]:
def count_nan(sereis):
    return len(series) - series.count()

#### YearsCode의 'Less than 1 year'의 값은 0으로 변경하고 'More than 50 years'의 값은 51로 일괄적으로 변경하려 합니다.
또 dtype을 float로 변경하고 이를 survey_df["YearsCode"]에 적용해보세요.
- 아래의 Series의 메서드를 활용해보세요.
- 힌트: replace(변경 전 값, 변경 후 값, inplace=True)

In [40]:
survey_df["YearsCode"].replace("Less than 1 year", 0, inplace=True)
survey_df["YearsCode"].replace("More than 50 years", 51, inplace=True)