## 튜플

### 튜플은 리스트와 거의 같지만, 수정이 불가능하다. 튜플은 불변의 특징을 갖기 때문

In [11]:
tuple_variable = (1,2,3,4,5,"hello")

In [3]:
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [4]:
tuple_variable[1:3] = ("dd","ee")

TypeError: 'tuple' object does not support item assignment

### 튜플에서는 요소에 대한 삭제도 불가하다.

In [5]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플은 소괄호 생략이 가능하다. 하지만 명시해서 명확하게 표현하는게 더 좋다.

In [6]:
t_v = "음", "오", "아", "예"

In [7]:
print(type(t_v))

<class 'tuple'>

In [8]:
print(t_v)

('음', '오', '아', '예')

### 튜플과 리스트의 소요시간 비교

In [9]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i,j))
        
last = time.time()
print(last - curr)

0.16025424003601074

In [10]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append([i,j])
        
last = time.time()
print(last - curr)

0.4871184825897217

### 변수 여럿에 동시 할당하기 (Unpaking)

In [13]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [15]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

이렇게 리스트도 가능합니다.

In [16]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8 ,s9)

문 자 열 도

### 파이썬 입력 사용해보기

In [4]:
input_value = input("Message")

Message 1111

In [5]:
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'str'>

In [6]:
input_value = int(input_value)
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'int'>

In [13]:
input_value2 = input("정수 외에 다른 값을 입력해보세요")

정수 외에 다른 값을 입력해보세요 1.1

In [14]:
input_value2 = int(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [15]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [16]:
input_value2 = int(input_value2)
print(input_value2)

1

In [17]:
input_value3 = input("정수 외에 다른 값을 입력해보세요")

정수 외에 다른 값을 입력해보세요 1.1

In [18]:
int(input_value3)

ValueError: invalid literal for int() with base 10: '1.1'

In [20]:
input_value4 = int(input("정수를 입력해주세요:"))
print(input_value4)

정수를 입력해주세요: 2

2

In [21]:
input_value5 = input("이름을 입력하시오:")
print(input_value5, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_value6 = int(input("첫 번째 정수를 입력하세요:"))
input_value7 = int(input("두 번째 정수를 입력하세요:"))
print(input_value6, "과", input_value7, "의 합은", int(input_value6 + input_value7), "입니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [23]:
point = input("경기장은 어디입니까?")
winner = input("이긴 팀은 어디입니까?")
loser = input("진팀은 어디입니까?")
best_player = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")
print("[속보]", winner, "가", score, "로 승리...")
print("오늘", point, "경기장에서 야구 경기가 있었습니다.")
print(winner, "와", loser, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", best_player, "가 맹활약을 했습니다")
print("그 끝내", winner, "가", loser, "를", score, "로 승리하였습니다.")
print("기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

### 입력 값을 여러 개의 변수에 저장하기

In [22]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [24]:
# 리스트 인덱싱
time = input("hh:mm:ss 의 형태로 시간을 입력해주세요")
asd = time.split(':')
print("\n실행결과:")
print("시 :", asd[0])
print("분 :", asd[1])
print("초 :", asd[2])

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

실행결과:
시 : 12
분 : 33
초 : 23

In [25]:
# unpaking
h, m, s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(":")
print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23

### * map() 내장 함수 이용하기

In [26]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [27]:
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학, 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점 입니다.")

국어, 영어, 수학, 과학, 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점 입니다.

### * sep 과 end

In [28]:
print("value", 1, 1.1, [1, 2, 'text'])

value 1 1.1 [1, 2, 'text']

In [29]:
print("value", 1, 1.1, [1, 2, 'text'],sep=", ")

value, 1, 1.1, [1, 2, 'text']

In [30]:
print("value", 1, 1.1, [1, 2, 'text'],sep=", ")

value, 1, 1.1, [1, 2, 'text']

In [31]:
print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\"과 같이 기본 설정된 값을 빈스트링으로 변경했기때문입니다.")
print("sep","end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.", sep=", ",end="")
print("어떻게 사용하는지", "이해가 되시나요", sep="\n", end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n"과 같이 기본 설정된 값을 빈스트링으로 변경했기때문입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [32]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep="/", end=" ")
print(hour, minute, second, sep=":")

2021/02/03 18:33:23

In [33]:
apple, orange = map(int, input("사과와 귤을 몇개 드릴까요?").split(","))
m = (apple*1000 + orange*200)
print("\n실행 결과:")
print("총 가격은 ", m, "원입니다.", sep="")

사과와 귤을 몇개 드릴까요? 10,20

실행 결과:
총 가격은 14000원입니다.

### 흐름제어 : if문과 elif문, else문

In [34]:
type(input_value4) is int
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

In [35]:
print(type(input_value4))

<class 'int'>

In [36]:
age = 39
if 20 <= age < 30:
    print("20대 입니다.")
elif 30<= age < 40:
    print("30대 입니다.")
print("감사합니다.")

30대 입니다.
감사합니다.

In [37]:
age = 26
if 20 <= age < 30:
    print("20대 입니다.")
elif 30<= age < 40:
    print("30대 입니다.")
print("감사합니다.")

20대 입니다.
감사합니다.

In [38]:
age = 40
if 20 <= age < 30:
    print("20대 입니다.")
elif 30<= age < 40:
    print("30대 입니다.")
else:
    print("오우...불혹을 넘기셨군요")
print("감사합니다.")

오우...불혹을 넘기셨군요
감사합니다.

In [39]:
ID = input("아이디를 입력하세요 :")
if ID == "admin":
    print("\n최고 관리자, 모든 권한을 갖습니다.")
else:
    grade = int(input("회원 등급을 입력해주세요 :"))
    if 1<= grade <=3:
        print("\n제한적인 권한을 갖습니다.")
    else:
        print("\n권한이 없습니다.")

아이디를 입력하세요 : biana
회원 등급을 입력해주세요 : 3

제한적인 권한을 갖습니다.