## 튜플

### 튜플은 리스트와 거의 같지만, 수정이 불가능하다. 튜플은 불변의 특징을 갖기 때문

In [11]:
tuple_variable = (1,2,3,4,5,"hello")

In [3]:
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [4]:
tuple_variable[1:3] = ("dd","ee")

TypeError: 'tuple' object does not support item assignment

### 튜플에서는 요소에 대한 삭제도 불가하다.

In [5]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플은 소괄호 생략이 가능하다. 하지만 명시해서 명확하게 표현하는게 더 좋다.

In [6]:
t_v = "음", "오", "아", "예"

In [7]:
print(type(t_v))

<class 'tuple'>

In [8]:
print(t_v)

('음', '오', '아', '예')

### 튜플과 리스트의 소요시간 비교

In [9]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i,j))
        
last = time.time()
print(last - curr)

0.16025424003601074

In [10]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append([i,j])
        
last = time.time()
print(last - curr)

0.4871184825897217

### 변수 여럿에 동시 할당하기 (Unpaking)

In [13]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [15]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

이렇게 리스트도 가능합니다.

In [16]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8 ,s9)

문 자 열 도

### 파이썬 입력 사용해보기

In [4]:
input_value = input("Message")

Message 1111

In [5]:
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'str'>

In [6]:
input_value = int(input_value)
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'int'>

In [13]:
input_value2 = input("정수 외에 다른 값을 입력해보세요")

정수 외에 다른 값을 입력해보세요 1.1

In [14]:
input_value2 = int(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [15]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [16]:
input_value2 = int(input_value2)
print(input_value2)

1

In [17]:
input_value3 = input("정수 외에 다른 값을 입력해보세요")

정수 외에 다른 값을 입력해보세요 1.1

In [18]:
int(input_value3)

ValueError: invalid literal for int() with base 10: '1.1'

In [20]:
input_value4 = int(input("정수를 입력해주세요:"))
print(input_value4)

정수를 입력해주세요: 2

2

In [21]:
input_value5 = input("이름을 입력하시오:")
print(input_value5, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_value6 = int(input("첫 번째 정수를 입력하세요:"))
input_value7 = int(input("두 번째 정수를 입력하세요:"))
print(input_value6, "과", input_value7, "의 합은", int(input_value6 + input_value7), "입니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [23]:
point = input("경기장은 어디입니까?")
winner = input("이긴 팀은 어디입니까?")
loser = input("진팀은 어디입니까?")
best_player = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")
print("[속보]", winner, "가", score, "로 승리...")
print("오늘", point, "경기장에서 야구 경기가 있었습니다.")
print(winner, "와", loser, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", best_player, "가 맹활약을 했습니다")
print("그 끝내", winner, "가", loser, "를", score, "로 승리하였습니다.")
print("기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

### 입력 값을 여러 개의 변수에 저장하기

In [22]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [24]:
# 리스트 인덱싱
time = input("hh:mm:ss 의 형태로 시간을 입력해주세요")
asd = time.split(':')
print("\n실행결과:")
print("시 :", asd[0])
print("분 :", asd[1])
print("초 :", asd[2])

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

실행결과:
시 : 12
분 : 33
초 : 23

In [25]:
# unpaking
h, m, s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(":")
print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23

### * map() 내장 함수 이용하기

In [26]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [27]:
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학, 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점 입니다.")

국어, 영어, 수학, 과학, 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점 입니다.

### * sep 과 end

In [28]:
print("value", 1, 1.1, [1, 2, 'text'])

value 1 1.1 [1, 2, 'text']

In [29]:
print("value", 1, 1.1, [1, 2, 'text'],sep=", ")

value, 1, 1.1, [1, 2, 'text']

In [30]:
print("value", 1, 1.1, [1, 2, 'text'],sep=", ")

value, 1, 1.1, [1, 2, 'text']

In [31]:
print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\"과 같이 기본 설정된 값을 빈스트링으로 변경했기때문입니다.")
print("sep","end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.", sep=", ",end="")
print("어떻게 사용하는지", "이해가 되시나요", sep="\n", end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n"과 같이 기본 설정된 값을 빈스트링으로 변경했기때문입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [32]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep="/", end=" ")
print(hour, minute, second, sep=":")

2021/02/03 18:33:23

In [33]:
apple, orange = map(int, input("사과와 귤을 몇개 드릴까요?").split(","))
m = (apple*1000 + orange*200)
print("\n실행 결과:")
print("총 가격은 ", m, "원입니다.", sep="")

사과와 귤을 몇개 드릴까요? 10,20

실행 결과:
총 가격은 14000원입니다.

### 흐름제어 : if문과 elif문, else문

In [34]:
type(input_value4) is int
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

In [35]:
print(type(input_value4))

<class 'int'>

In [36]:
age = 39
if 20 <= age < 30:
    print("20대 입니다.")
elif 30<= age < 40:
    print("30대 입니다.")
print("감사합니다.")

30대 입니다.
감사합니다.

In [37]:
age = 26
if 20 <= age < 30:
    print("20대 입니다.")
elif 30<= age < 40:
    print("30대 입니다.")
print("감사합니다.")

20대 입니다.
감사합니다.

In [38]:
age = 40
if 20 <= age < 30:
    print("20대 입니다.")
elif 30<= age < 40:
    print("30대 입니다.")
else:
    print("오우...불혹을 넘기셨군요")
print("감사합니다.")

오우...불혹을 넘기셨군요
감사합니다.

In [39]:
ID = input("아이디를 입력하세요 :")
if ID == "admin":
    print("\n최고 관리자, 모든 권한을 갖습니다.")
else:
    grade = int(input("회원 등급을 입력해주세요 :"))
    if 1<= grade <=3:
        print("\n제한적인 권한을 갖습니다.")
    else:
        print("\n권한이 없습니다.")

아이디를 입력하세요 : biana
회원 등급을 입력해주세요 : 3

제한적인 권한을 갖습니다.

In [7]:
a = int(input("자연수 하나 입력해주세요:"))
if a-int(50) >=0:
    print(a-int(50))
else:
    print(0)

자연수 하나 입력해주세요: 70

20

In [9]:
a = int(input("자연수 하나 입력해주세요:"))
a = a - 50
if a>=0:
    print(a)
else:
    print(0)

자연수 하나 입력해주세요: 21

0

In [42]:
int_value = int(input("자연수 하나 입력해주세요:"))

result = int_value - 50

if result <0:
    result = 0
print(result)

자연수 하나 입력해주세요: 70

20

In [11]:
if True:
print("Hello")

IndentationError: expected an indented block (3598588081.py, line 2)

## 참고로 if문의 바디를 나중에 작성할 예정이라면 pass 키워드를 사용하면 된다.

``` python
if 조건식:  
    pass # Tobe
```

### if문에서 조건식 뒤에 콜론은 생략할 수 없습니다.

In [38]:
if True:
    print("if문의 조건식이", end="")
    print("True일 때만 실행됩니다.")
print("들여쓰기가 없는 곳은 늘 실행됩니다")

if문의 조건식이True일 때만 실행됩니다.
들여쓰기가 없는 곳은 늘 실행됩니다

In [34]:
age = int(input("나이를 입력해주세요."))

if age >=10:
    print("10살 이상입니다.")
    if age >= 20:
        print("20살 이상입니다.")
        if age >= 30:
            print("30살 이상입니다.")
            if age >= 40:
                print("40살 이상입니다.")
            print("age >= 30 구간입니다.")
        print("age >= 20 구간입니다.")
    print("age >= 10 구간입니다.")
print("늘 출력")

나이를 입력해주세요. 20

10살 이상입니다.
20살 이상입니다.
age >= 20 구간입니다.
age >= 10 구간입니다.
늘 출력

In [24]:
score = 70

# 60점 이상이면 합격
if score >= 60:
    print("합격을 축하합니다.")
else:
    print("아쉽게도 불합격입니다.")
print("안내를 종료합니다.")

합격을 축하합니다.
안내를 종료합니다.

### 연습문제

In [39]:
a = int(input("자연수하나 입력해주세요:"))

if a % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

자연수하나 입력해주세요: 3

홀수입니다.

In [78]:
sftw1 = int(input("소프트웨어 설계 점수를 입력하세요."))
sftw2 = int(input("소프트웨어 개발 점수를 입력하세요."))
DB = int(input("데이터베이스 구축 점수를 입력하세요."))
pro = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
dsys = int(input("정보시스템 구축관리 점수를 입력하세요."))
if sftw1 < 0 or sftw2 < 0 or DB < 0 or pro < 0 or dsys < 0 or sftw1 > 100 or sftw2 > 100 or DB > 100 or pro > 100 or dsys > 100:
    print("잘못된 점수입니다.")
else:
    avg = (sftw1 + sftw2 + DB + pro + dsys) / 5
    if avg >= 60:
        print("합격")
    else:
        print("불합격")

소프트웨어 설계 점수를 입력하세요. -7
소프트웨어 개발 점수를 입력하세요. 50
데이터베이스 구축 점수를 입력하세요. 40
프로그래밍 언어 활용 점수를 입력하세요. 30
정보시스템 구축관리 점수를 입력하세요. 70

잘못된 점수입니다.

In [79]:
a = int(input("소프트웨어 설계 점수를 입력하세요."))
b = int(input("소프트웨어 개발 점수를 입력하세요."))
c = int(input("데이터베이스 구축 점수를 입력하세요."))
d = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
e = int(input("정보시스템 구축관리 점수를 입력하세요."))
ave = (a + b + c + d + e)/5
if 0 <= a <= 100 and 0 <= b <= 100 and 0 <= c <= 100 and 0 <= d <= 100 and 0 <= e <= 100:
    if ave >= 60:
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 점수입니다")

소프트웨어 설계 점수를 입력하세요. 100
소프트웨어 개발 점수를 입력하세요. 7
데이터베이스 구축 점수를 입력하세요. 01
프로그래밍 언어 활용 점수를 입력하세요. 10
정보시스템 구축관리 점수를 입력하세요. 10

불합격

In [84]:
score = int(input("점수를 입력해주새요 : "))

print("성적을 알려드립니다.")

if score >= 90:
    print("A입니다.")
elif score >= 80:
    print("B입니다.")
elif score >= 70:
    print("C입니다.")
elif score >= 60:
    print("D입니다.")
else:
    print("F입니다.")
    
print("안내를 종료합니다.")

점수를 입력해주새요 :  60

성적을 알려드립니다.
D입니다.
안내를 종료합니다.

In [92]:
degree = float(input("현재 물의 온도를 입력해주세요"))
if degree >= 100:
    print("기체로 예상됩니다.")
elif 100 > degree >= 0:
    print("액체로 예상됩니다.")
else:
    print("고체로 예상됩니다.")

현재 물의 온도를 입력해주세요 -7

고체로 예상됩니다.

In [95]:
degree = float(input("현재 물의 온도를 입력해주세요"))
if degree >= 100:
    print("기체로 예상됩니다.")
elif degree >= 0: # 100 > 이 없어도 실행 됨
    print("액체로 예상됩니다.")
else:
    print("고체로 예상됩니다.")

현재 물의 온도를 입력해주세요 -0.12

고체로 예상됩니다.

## 연습문제
### 일반 시내 버스 요금을 받는 프로그램을 만들려고 합니다.  
### 성인(19세 이상)이면 1500원 청소년 이면(12 ~ 18세)이면 1100원 어린이(6 ~ 11세)면 800원을 받고 미취학 아동은 무료입니다. 
### 사용자로부터 나이를 입력받고 나이에 따른 일반 시내 버스 요금을 출력하세요.

In [102]:
age = int(input("자신의 나이를 입력하세요:"))
if age >= 19:
    print("1500원")
elif age >= 12:
    print("1100원")
elif age >= 6:
    print("800원")
else:
    print("무임승차입니다.")

자신의 나이를 입력하세요: 11

800원

### A사는 B사에서 C상품($10/개)을 납품합니다. 발주수량에 따라 수량할인을 고려하여 납품가가 달라집니다. 
### 1000개 미만은 수량할인이 적용되지 않습니다. 1000개부터 1500개 까지 5%, 1500개 초과 2000개까지 10%를 할인합니다.  
### 2000개 초과 부터는 20%를 할인합니다. 발주 수량을 사용자로부터 입력 받고 총 발주금액을 출력하는 프로그램을 작성해보세요.  
### (소수점은 할인의 일환으로 버립니다.)

In [126]:
cProduct = 10
quantity = int(input("발주 수량울 입력하세요:"))
if quantity > 2000:
    discount = 0.2
    price = cProduct * quantity * (1-discount)
    print("총 발주 금액은 $",int(price),"입니다", sep="")
elif quantity >1500:
    discount = 0.1
    price = cProduct * quantity * (1-discount)
    print("총 발주 금액은 $",int(price),"입니다", sep="")
elif quantity >=1000:
    discount = 0.05
    price = cProduct * quantity * (1-discount)
    print("총 발주 금액은 $",int(price),"입니다", sep="")
else:
    price = cProduct * quantity * (1-discount)
    print("총 발주 금액은 $",int(price),"입니다", sep="")

발주 수량울 입력하세요: 2001

총 발주 금액은 $16008입니다

### 주민등록번호 뒷자리 7자리 중 맨 앞 번호가 1, 3인 경우는 남자이고 2, 4인 경우는 여자를 의미합니다.  
### 주민등록번호 뒷자리를 입력 받아 성별을 확인하는 프로그램을 작성하세요.  
### - 자리수가 7자리가 아니면 '자리수를 잘못 입력했습니다.'를 출력합니다.
### - 맨 앞 번호가 1,2,3,4가 아니면 '잘못된 입력입니다.'를 출력합니다.

In [157]:
id_num = input("주민등록번호 뒷자리를 입력해주세요:")
if 7 == len(id_num):
    if 1 <= int(id_num[0]) <=4:
        if int(id_num[0]) == 1 or int(id_num[0]) ==  3:
            print("남자")
        else:
            print("여자")
    elif int(id_num[0]) != 1 or 2 or 3 or 4:
        print("잘못된 입력입니다.")
else:
    print("자리수를 잘못 입력했습니다.")

주민등록번호 뒷자리를 입력해주세요: 12345678

자리수를 잘못 입력했습니다.

### 사용자로부터 연도 값을 입력받고 윤년인지 아닌지 결과를 출력하는 프로그램을 작성해보세요.
### - 연도가 4로 나누어 떨어지는 경우 : 윤년, 그 밖의 해 : 평년  
### 예외규칙  
### - 100으로 나누어 떨어지되 400으로 나누어 떨어지지 않는 해 : 평년

In [194]:
확인할연도 = int(input("확인할 연도를 입력하세요"))
if 확인할연도 % 4 == 0:
    if 확인할연도 % 100 == 0 and 확인할연도 % 400 != 0:
        print("평년입니다.")
    else:
        print("윤년입니다.")
else:
    print("평년입니다.")

확인할 연도를 입력하세요 1900

평년입니다.

In [189]:
확인할연도 = int(input("확인할 연도를 입력하세요"))
if 확인할연도 % 4 !=0 or 확인할연도 % 400 != 0 and 확인할연도 % 100 == 0: 
    print("평년입니다.")
else:
    print("윤년입니다.")

확인할 연도를 입력하세요 1900

평년입니다.

### 반복문
### - For문

```python  
for 요소를 담을 변수 in 반복 가능한 객체:  
    반복할 코드(띄어쓰기 4칸)  
for 변수 in range(횟수):  
    반복할 코드(띄어쓰기 4칸)  
```

In [201]:
for n in range(10):
    print("Hello world", n)

Hello world 0
Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9

### range() 함수로 list 생성하기
### 연속되는 정수를 생성할때 range() 내장 함수를 사용하면 편리합니다.

In [203]:
even_numbers = list(range(2,100,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [205]:
for n in range(1,101):
    print("Hello world", n)

Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9
Hello world 10
Hello world 11
Hello world 12
Hello world 13
Hello world 14
Hello world 15
Hello world 16
Hello world 17
Hello world 18
Hello world 19
Hello world 20
Hello world 21
Hello world 22
Hello world 23
Hello world 24
Hello world 25
Hello world 26
Hello world 27
Hello world 28
Hello world 29
Hello world 30
Hello world 31
Hello world 32
Hello world 33
Hello world 34
Hello world 35
Hello world 36
Hello world 37
Hello world 38
Hello world 39
Hello world 40
Hello world 41
Hello world 42
Hello world 43
Hello world 44
Hello world 45
Hello world 46
Hello world 47
Hello world 48
Hello world 49
Hello world 50
Hello world 51
Hello world 52
Hello world 53
Hello world 54
Hello world 55
Hello world 56
Hello world 57
Hello world 58
Hello world 59
Hello world 60
Hello world 61
Hello world 62
Hello world 63
Hello world 64
Hello world 65
Hello world 66
Hello world 67
Hello world 68
Hello world 69
Hello world 70
Hello world 71
Hello world 72
Hello world 73
Hello world 74
Hello world 75
Hello world 76
Hello world 77
Hello world 78
Hello world 79
Hello world 80
Hello world 81
Hello world 82
Hello world 83
Hello world 84
Hello world 85
Hello world 86
Hello world 87
Hello world 88
Hello world 89
Hello world 90
Hello world 91
Hello world 92
Hello world 93
Hello world 94
Hello world 95
Hello world 96
Hello world 97
Hello world 98
Hello world 99
Hello world 100

In [217]:
x = int(input("인사 몇 번 해드릴까요?"))
for n in range(1,x+1):
    print("Hello world", n)

인사 몇 번 해드릴까요? 3

Hello world 1
Hello world 2
Hello world 3

In [235]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [236]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [237]:
print(list(range(-10,-71,-30)))

[-10, -40, -70]

In [296]:
num = int(input("자연수 하나 입력해주세요:"))
for n in range(num,0,-1):
    for m in range(n):
        print(n,"\t", end = "")
    print()

자연수 하나 입력해주세요: 6

6 	6 	6 	6 	6 	6
5 	5 	5 	5 	5
4 	4 	4 	4
3 	3 	3
2 	2
1

In [314]:
num = int(input("자연수 하나 입력해주세요:"))
for i in range(num,0,-1):
    for j in range(i):
        print(i,end="\t")
    print()

자연수 하나 입력해주세요: 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [326]:
for i in range(10):
    if i == 0 or i == 9:
        print('* ' * 10)
    else:
        print('*                 *')

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

### 1부터 사용자로부터 입력 받은 자연수까지의 홀수의 합을 구합니다.  
### 1부터 입력받은 수까지 홀수 전체를 각각 더하는 산식을 표현하고  
### 그 계산식의 결과를 아래 실행결과와 같이 출력되도록 구해보세요
실행결과 :  
1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 100  
1 + 3 + 5 + 7 + 9 + ...99 = 2500

In [470]:
v = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다"))
sum = 0
for o in range(1,v+1,2):
    if o != v:
        sum = sum + o
        print(o,"+ ", end= "")
    else:
        sum = sum + o
        print(o,"= ", end= "")
x = sum
print(x)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 99

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [456]:
num = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다"))
sum = 0
print(1, end = "")
for i in range(3, num + 1, 2):
    sum = sum + i
    print(" +", i, end = "")
print(" =", sum + 1)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 99

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [457]:
input_value = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 "))
result = 0
for i in range(1, input_value + 1):
    if i % 2 == 1:
        if (input_value - 1) == i or input_value == i:
            print(i, end=' = ')
        else:
            print(i, end=' + ')
        result += i
print(result)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다  99

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [422]:
n = int(input("계승을 구할 숫자를 입력하세요."))
result = 1
for _ in range(1, n + 1):
    result = result * _

print(result)

계승을 구할 숫자를 입력하세요. 7

5040

In [427]:
for _ in ("파""도""솔""레""라""미""시"):
    print(_ , end=" ")

파 도 솔 레 라 미 시

In [428]:
for _ in ("일이삼사오육칠팔구십"):
    print(_, end=" ")

십 구 팔 칠 육 오 사 삼 이 일

In [426]:
for _ in reversed("일이삼사오육칠팔구십"):
    print(_, end=" ")

십 구 팔 칠 육 오 사 삼 이 일

### 연습문제  
제시된 리스트의 값을 for문을 활용하여 10배씩 증가시킨 후 아래의 실행 결과와 같이 출력해보세요  
x = [10, -42, 25, 103, 21, 77, 24]
실행결과:  
100 -420 250 1030 210 770 240

In [469]:
x = [10, -42, 25, 103, 21, 77, 24]
for _ in x:
    print(_ * 10, end = " ")

100 -420 250 1030 210 770 240

In [454]:
a = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
result = 1
for i in range(1, 10):
    result = a * i
    print(a, "*", i , "=", result)

구구단을 알려드립니다. 숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 사용자로부터 자연수를 입력받아옵니다. 1부터 입력된 자연수까지의 합을 구하는 프로그램을 구현해보세요.

In [453]:
자연수 = int(input("자연수를 입력해 주세요: "))
result = 0
for _ in range(1,자연수+1):
    result += _
print(result, end="")

자연수를 입력해 주세요:  100

5050